* {
  border: 1px solid black;
}

body {
    background: url('https://images.unsplash.com/photo-1530229540764-5f6ab595fdbe?ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center fixed;
    background-size: cover;
}

.journalcontainer{
  /* display: flex;
  flex-flow: row wrap; */
}

form{
  /* display: flex;
  flex-direction: column; */
}

input{
  width: 20%;
}

button{
  width: 15%;
  align-self: center;
}
