* {
  border: 1px solid black;
}

body {
    background: url('https://images.unsplash.com/photo-1530229540764-5f6ab595fdbe?ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center fixed;
    background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  margin-top: 10%;
}

form{
  text-align: center;
  margin-top: 10%;
}

#input{
  border: 1px solid black;
}

#submit{
  box-shadow: 2px, 2px, black;
}
#submit:hover{
  background-color: black;
  color: white;
}

.day{
  display: none;
  background-color: rgb(13, 31, 84);
  opacity: .8;
  text: black;
  border-radius: 5%;
  color: white;
  box-shadow: 10px 0 5px -2px black;
}

.day:first-of-type{
  display: block;
}


h2 {
  text-align: center;
  margin: auto;
}
h3 {
  margin: 2%;
}
h4{
  margin: 2%;
}

p{
  margin: 2%;
}

button[name="add"] {
  margin-left: 40%;
}

.scroll {
  display: none;
  align-self: center;
  background: black;
  color: #a6abb5;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
  font-size: 10px;
  box-shadow: 5px 0 3px -1px black;

}

.scroll:hover {
  background: #a6abb5;
  box-shadow: 1px 1px black;
  color: black;
}

.wrapper {
  display: flex;
  justify-content: row;
}
