* {
  border: 1px solid black;
}

html {
    background: url('https://images.pexels.com/photos/86648/pexels-photo-86648.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center fixed;
    background-size: cover;
    opacity:.5;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.day{
  display: none;
}

.day:first-of-type{
  display: block;
}

img{
}

h2 {
  text-align: center;
  margin-top: 0;
}
h3 {
  margin: inherit;
}


.scroll {
  align-self: center;
  background: black;
  color: #888;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
}

.scroll:hover {
  cursor: crosshair;
  background: white;
  box-shadow: 1px 1px black;
  color: white;
}
